.catalog-body {
    background-image:url('../../imgs/icons/bg-pattern.jpg');
    bottom: 0;
    margin-bottom: -.5rem;
}

.menu-tabs {
    width: 100%;
    margin-top: 0;
    display: flex;
    height: max-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

.catalog-list {
    margin: 0 auto;
}

.item-container {
    justify-content: center;
}

.section-body {
    justify-content: center;
    display: flex;
    flex-direction: row;
    min-width: min-content;
    flex-wrap: wrap;
    padding: 0;
}

.section-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    position: relative;
    display: table;

    &:before {
        border-top: 5px solid #ff00b3;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        width: 15%;
        right: 5px;
    }
}

.active {
    display: flex;
    background-image:url('../../imgs/icons/bg-pattern.jpg');
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3rem;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}

.inactive {
    display: flex;
    background-color: rgb(186, 215, 154);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3rem;
    color: white;
    transition-duration: 0.5s;
}

@media(max-width: 44rem) {
    .catalog-list {
        margin: 0 auto;
    }

    .section-body {
        margin: 0 1rem;
        padding: 0;
    }
}

@media(max-width: 25rem) {
    .catalog-list {
        margin: 0 auto;
    }

    .section-body {
        margin: 0;
        padding: 0;
    }
}