.menu-tabs {
    width: 100%;
    margin-top: 0;
    display: flex;
    height: max-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

.catalog-body {
    background-image:url('../../imgs/icons/bg-pattern.jpg');
    bottom: 0;
}

.catalog-list {
    margin-top: 2.5%;
}

.section-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    position: relative;
    display: table;

    &:before {
        border-top: 5px solid #ff00b3;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        width: 15%;
        right: 5px;
    }
}

.active {
    background-color: rgb(147, 188, 102);
    text-decoration: none;
    width: 50%;
    text-align: center;
    color: white;
    transition-duration: 0.5s;
}

.inactive {
    background-color: rgb(186, 215, 154);
    text-decoration: none;
    width: 50%;
    text-align: center;
    color: white;
    transition-duration: 0.5s;
}