.main-container {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 0;
    justify-content: center;
    height: 20rem;
    padding-bottom: 5rem;
}

.container-box {
    background-color: rgba(85, 137, 39, 0.479);
    border-radius: 16px;
    width: 25rem;
    display: flex;
    color: aliceblue;
}

.title {
    margin: auto 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: end;
}

.img-showcase1 {
    max-height: 13rem;
    left: 15%;
    align-self: center;
}

.img-showcase2 {
    max-height: 10rem;
    rotate: calc(45deg);
    position: relative;
    right: 5%;
}