.header-card {
    background-color: rgb(230, 255, 201);
    width: fit-content;
    padding-right: 2.5%;
    display: flex;
    margin: auto;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    position: sticky;
    /*Delete this if it doesn't slide with the scroll*/
    top: 15px;
    z-index: 99;
}

.main-logo {
    max-height: 8rem;
}

@media(max-width: 37.5rem) {
    .main-logo {
        max-height: 6rem;
    }
}