.header-card {
    background-color: rgb(230, 255, 201);
    width: 90%;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    position: sticky; /*Delete this if it doesn't slide with the scroll*/
}

.main-logo {
    height: 6rem;
    align-self: flex-start;
}

#dropdown-basic-button {
    font-size: larger;
    border: 1px solid rgb(212, 223, 55);
    background-color: rgb(186, 215, 154);
    border-radius: 1rem;
    padding: 10px;
}